
<h3 class="text-center">Article List</h3>
<br>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Article Info.</th>
      </tr>
    </thead>
  <% articles.each do |article| %>
    <tbody>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= link_to "Show", user_article_path(id: article.id,user_id: article.user_id) %></td>    
    </tr>
    </tbody>
  <% end %>
</table>
